body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

@font-face {
  font-family: "Mulish_Bold";
  src: url("../font/Mulish-Bold.ttf") format("truetype");
}

body {
  background-color: #F7F7FC;
  font-family: "Mulish_Bold";
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.005em;
  font-size: 16px;
  color: #11142D;
}

.container {
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 15px;
}

.employee_shift__head {
  padding: 59px 0 38px 0;
}

.employee_shift h2 {
  display: inline;
  font-size: 24px;
}

.employee_shift .create_button {
  padding: 10.5px 24px;
  background-color: #5541D7;
  border-radius: 8px;
  float: right;
  color: #FFFFFF;
  margin-top: -10px;
}

.employee_shift .create_button:hover {
  transition: all 0.7s;
  opacity: 0.8;
}

.employee_shift-list {
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
}

.employee-icon {
  padding: 45px 0 9px 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.employee-list {
  padding: 0 16px 84px 0;
  display: flex;
  flex-wrap: wrap;
}


.employee-icon a img {
  padding-right: 43px;
}

.employee-item {
  display: flex;
  align-items: center;
  padding: 16px 22px 16px 16px;
  border: 1px solid #E1E1FB;
  border-radius: 8px;
  margin: 16px;
  flex: 0 1 calc(33.333% - 72px);
}

.employee-item__photo {
  flex: 0 0 64px;
  border-radius: 50%;
}

.employee-item__details {
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  flex: 0 0 24px;
  margin-top: -32px;
}

.employee-item__about {
  flex: 1 1 auto;
  padding-left: 16px;
}

.employee-item__about h3 {
  font-size: 16px;
}

.role {
  font-size: 12px;
  padding: 5.5px 8px;
  border-radius: 4px;
  display: inline-block;
  margin: 11px 16px 0 0;
}

.admin {
  background-color: #F1F1F6;
  color: #9A9AB0;
}

.cashier {
  background-color: #D9F2EC;
  color: #3CAA91;
}

.chef {
  color: #EEAF22;
  background-color: #FCE7CF;
}

.waitress {
  color: #2A23C2;
  background-color: #DBD7F4;
}

.employee-item__more-info {
  font-size: 14px;
  color: #5541D7;
}

.dishwasher {
  color: #2A23C2;
  border: 1px solid #2A23C2;
}

@media screen and (max-width: 1140px) {
  .employee-item {
    position: relative;
  }

  .employee-item__details {
    position: absolute;
    right: 25px;
  }
}

@media (min-width : 768px) and (max-width : 1024px) {

  .employee-list {
    justify-content: space-around;
  }

  .employee-item {
    margin: 10px;
    flex: 0 1 calc(50% - 72px);
  }
}

@media (max-width: 768px) {
  .employee-list {
    justify-content: space-around;
  }

  .employee-item {
    margin: 10px;
    flex: 0 1 calc(100% - 50px);
  }
}